#header {
    width: 82,5%;
    padding:0px 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
#menu {
    list-style:none;
    display: flex;
}

#menu .item {
    margin:0px 25px;
}

#menu .item a {
    color:#626A67;
    text-decoration: none;
    transition: all 0.3s ease;  
}
#menu .item a:hover{
    color:#1d1a1a;
    font-weight:bolder;

}

#actions {
    display: flex;
}

#actions .item {
    margin-left:22px;
}
#footer {
    width: 82,5%;
    background:rgb(0,0,0,0.79);
    height: 200px;
    margin-top:10px;
    padding:0px 63px;
    padding-top:20px;
    display: flex;
    justify-content: space-around;
    box-shadow: 7px 7px 7px;
    border-radius: 5px;
}

#footer .box {
    width: 250px;
    color:#fff;
}

#footer .box .quick-menu {
    margin-top:20px;

}


#footer .box .quick-menu .item{
    margin-bottom:12px;

}
#footer .box .quick-menu ,.item a{
    color:#fff;
    text-decoration: none;
}

#footer .box form input {
    width: 294px;
    height: 42px;
    background:transparent;
    padding-left:20px;
    color:#fff;
    margin-top:30px;
}

#footer .box form button {
    background:#362f2f;
    box-shadow: 5px 5px 4px rgba(0,0,0.25);
    width: 163px;
    height: 38px;
    margin-top:29px;
    color:#fff;
}
.form{
    border: 2px none black;
    border-radius: 5px;
    box-shadow: 7px 7px 7px;
    width: 82,5%;
    height: 350px;
    text-align: center;
    align-items: center;
    background-image: url("https://cdn.buffetposeidon.com/app/media/uploaded-files/150824-phong-cach-am-thuc-trung-co-c%E1%BB%A7a-Phap-buffet-poseidon-1.jpg");
}
.form_user{
      
        /* Tạo hiệu ứng nổi */
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        /* Tạo độ trong suốt cho nền của phần tử */
        background-color: rgba(255, 255, 255, 0.5); /* Nền trắng trong suốt 80% */
        padding: 20px;
        border-radius: 10px;
        width: 250px;
        height: 260px;
        margin-left: 40%;
        font-size: 18px;
      }